@{
    ViewData["Title"] = "Home Page";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
@if(!User.Identity.IsAuthenticated)
{
    <div class="container border-light">
        <div class="card border-light mb-3">
            <div class="row g-0">
                <div class="col-8">
                    <h2 class="card-title fs-1">Welcome @User.Identity.Name</h2>
                    <p class="card-text fs-2">Always Thrive to Learn.</p>
                </div>
                <div class="col-4">
                    <figure class="figure">
                        <img src="~/images/dashboard.jpg" class="figure-img img-fluid rounded float-end">
                    </figure>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-primary" asp-controller="Auth" asp-action="Login">Login</a>
                <a class="btn btn-outline-primary" asp-controller="Auth" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="container border-light">
        <div class="card border-light mb-3">
            <div class="row g-0">
                <div class="col-8">
                    <h2 class="card-title fs-1">Welcome @User.Identity.Name</h2>
                    <p class="card-text fs-2">Always Thrive to Learn.</p>
                </div>
                <div class="col-4">
                    <figure class="figure">
                        <img src="~/images/dashboard.jpg" class="figure-img img-fluid rounded float-end">
                    </figure>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-primary" asp-controller="User" asp-action="Profile" asp-route-id="@userId">MyProfile</a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="d-flex justify-content-between text-center border border-success p-4 btn-group btn-group-lg">
            <a class="btn btn-outline-success btn-lg" role="button" asp-controller="User" asp-action="MyCourses" asp-route-id="@userId">Enrolled Courses</a>
            <a class="btn btn-outline-success btn-lg" role="button" asp-controller="User" asp-action="JoinCourse" asp-route-id="@userId">Available Courses</a>
            <a class="btn btn-outline-success btn-lg" role="button" asp-controller="Materials" asp-action="Materials" asp-route-id="@userId">Materials List</a>
            <a class="btn btn-outline-success btn-lg" role="button" asp-controller="SKills" asp-action="Skills" asp-route-id="@userId">Skills List</a>
        </div>
    </div>
}




    
