@using EducationalPortal.DataAccess.Models.Entities;
@model User

@{
    ViewData["Title"] = "MyProfile";
}
@if (!User.Identity.IsAuthenticated)
{
    <div class="container border-light">
        <div class="card border-light mb-3">
            <div class="row g-0">
                <div class="col-8">
                    <h2 class="card-title fs-1">Welcome @User.Identity.Name</h2>
                    <p class="card-text fs-2">Always Thrive to Learn.</p>
                </div>
                <div class="col-4">
                    <figure class="figure">
                        <img src="~/images/dashboard.jpg" class="figure-img img-fluid rounded float-end">
                    </figure>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-primary" asp-controller="Auth" asp-action="Login">Login</a>
                <a class="btn btn-outline-primary" asp-controller="Auth" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="container border-light">
        <div class="card border-light mb-3">
            <div class="row g-0">
                <div class="col-8">
                    <h2 class="card-title fs-1">Welcome @User.Identity.Name</h2>
                    <p class="card-text fs-2">Always Thrive to Learn.</p>
                </div>
                <div class="col-4">
                    <figure class="figure">
                        <img src="~/images/dashboard.jpg" class="figure-img img-fluid rounded float-end">
                    </figure>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="d-flex justify-content-between text-center border border-success p-4 btn-group btn-group-lg">
            <a class="btn btn-outline-success btn-lg" role="button" asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id">Edit Profile</a>
            <a class="btn btn-outline-success btn-lg" role="button" asp-controller="User" asp-action="MyCourses" asp-route-id="@Model.Id">Enrolled Courses</a>
            <a class="btn btn-outline-success btn-lg" role="button" asp-controller="User" asp-action="JoinCourse" asp-route-id="@Model.Id">Available Courses</a>
            <a class="btn btn-outline-success btn-lg" role="button" asp-controller="Materials" asp-action="Materials" asp-route-id="@Model.Id">Materials List</a>
            <a class="btn btn-outline-success btn-lg" role="button" asp-controller="SKills" asp-action="Skills" asp-route-id="@Model.Id">Skills List</a>
        </div>
    </div>

    <div class="container">
        <div class="text-start border border-secondary">
            <p class="fs-1 fw-bold">Personal Information:</p>
            <p class="fs-2">First Name: @Model.FirstName</p>
            <p class="fs-2">Last Name: @Model.LastName</p>
            <p class="fs-2">UserName: @Model.Username</p>
            <p class="fs-2">Email: @Model.Email</p>
            <p class="fs-2">Role: @Model.Role</p>
        </div>
    </div>

    @if(Model.UserCourses != null)
    {
        <div class="container">
            <div class="text-start border border-danger">
                <p class="fs-1 fw-bold">User Enrolled Courses:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Credit</th>
                            <th scope="col">Drop</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ucourse in Model.UserCourses)
                        {
                            <tr>
                                <th scope="row">@ucourse.CourseId</th>
                                <td>@ucourse.Course.Name</td>
                                <td>@ucourse.Course.Description</td>
                                <td>@ucourse.Course.Credit</td>
                                <td>
                                    <a class="btn btn-danger" asp-action="DropCourse" asp-route-userId="@Model.Id" asp-route-courseId="@ucourse.CourseId">
                                        Drop
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    @if (Model.UserMaterials != null)
    {
        <div class="container">
            <div class="text-start border border-warning">
                <p class="fs-1 fw-bold">User Enrolled Materials:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var umaterial in Model.UserMaterials)
                        {
                            <tr>
                                <th scope="row">@umaterial.MaterialId</th>
                                <td>@umaterial.Material.Name</td>
                                <td>@umaterial.Material.Description</td>
                                <td>@umaterial.Material.Type</td>
                                <td class=".text-danger">@umaterial.IsCompleted</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    @if (Model.Skills != null)
    {
        <div class="container">
            <div class="text-start border border-info">
                <p class="fs-1 fw-bold">User Skills:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var skill in Model.Skills)
                        {
                            <tr>
                                <th scope="row">-</th>
                                <td>@skill.Name</td>
                                <td>@skill.Level</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

}





